/*---------------------------------------------all content------------------------------------------------------------*/

p, ul, nav, form{
	font-family: 'Sintony', sans-serif;
}

h1, h2, h3{
	font-family: 'Cinzel Decorative', cursive;
}

html{
	background: #282828;
}

body{
	width: 70%;
	margin: 0% auto;
	background: #fff;
	border: solid #d0000d;
	border-radius: 10px;
	font: 100%;
}

img {
	max-width: 100%;
}

/*---------------------------------------------header content------------------------------------------------------------*/

header img{
	width: 100px;
	height: 100px;
	overflow: hidden;
	display: block;
	float: left;
}

h1{
	background: #282828;
	color: #fff;
	overflow: hidden;
	display: block;
	width: 51.282051%; /* 500px/975px*/
	float: left;
	height: 100px;
	line-height: 100px;
	margin: 0%;
	outline: 0;
	font-size: 2em;
	padding: 0% 0% 0% 2.5%; /* 35px/500px, 20px/500px */

}

h1 a:visited{
	color: #fff;
}

/*---------------------------------------------nav content------------------------------------------------------------*/

nav ul{
	width: 36.307692%; /* 354px/975px */
	margin: 0% auto;
	list-style-type: none;
	padding: 0%;
	overflow: hidden;
}

nav li{
	background: #282828;
	width: 33.3333333%; /* 118px/354px */
	float: left;
	font-size: 1em;
}

nav a{
	text-decoration: none;
	display: block;
	height: 100px;
	line-height: 100px;
	text-align: center;
	color: #fff;
}

nav a:hover{
	color: #d0000d;
	background: #fff;
}

nav a:active{
	color: #fff;
	background: #d0000d;
}

/*---------------------------------------------main content------------------------------------------------------------*/

div{
	margin: 1%; /* 10px/1000px */
	background: #505457;
	color: #fff;
	border: solid #d0000d;
	border-radius: 10px;
	overflow: hidden;
	width: 97.5%; /* 975px/1000px */
}

div h2{
	float: left;
	padding-left: 3.076923%; /* 30px/975px */
	text-shadow: 2px 2px 2px #010101;
	font-size: 1.5em;
}

div article{
	float: left;
	border: 10px solid #d0000d;
	width: 56.410256%;  /*550px/975px */
	margin: 2.051282% 0% 2.051282% 2.051282%; /* 20px/975px, */
}

div p{
	float: left;
	width: 34.871795%; /* 340px/975px */
	padding: 2% 0% 0% 2.3%; 
	text-indent: 50px;
	text-align: justify;
	margin: 0%;
	font-size: 1em;
}

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 25px/100% Arial, Helvetica, sans-serif;
	padding: .8em 2em .8em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	margin: .4em 0em 0em 4em;
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.red {
	color: #fff;
	border: solid 1px #d0000d;
	background: #d0000d;
	background: -webkit-gradient(linear, left top, left bottom, from(#cd3b45), to(#d0000d));
	background: -moz-linear-gradient(top,  #cd3b45,  #d0000d);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cd3b45', endColorstr='#d0000d');
}
.red:hover {
	background: #d0000d;
	background: -webkit-gradient(linear, left top, left bottom, from(#d0000d), to(#af000b));
	background: -moz-linear-gradient(top,  #d0000d,  #af000b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0000d', endColorstr='#af000b');
}
.red:active {
	color: #666;
	background: -webkit-gradient(linear, left top, left bottom, from(#d0000d), to(#cd3b45));
	background: -moz-linear-gradient(top,  #d0000d,  #cd3b45);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0000d', endColorstr='#cd3b45');
}

/*---------------------------------------------Gallery content------------------------------------------------------------*/

#gallery{
	clear: left;
}

#gallery h2{
	padding-left: 19.487179%; /* 190px/975px */
	font-size: 1.5em;
}

#gallery ul{
	list-style-type: none;
	width: 56.410256%; /* 550px/975px */
	padding-left: .181818%;  /*1px/550px */
}

#gallery li{
	margin: 0% 0% 7% 8%; 
}

#gallery a{
	border: 10px solid #d0000d;
	display: block;
	height: 150px;
	width: 200px; 
	outline: 0;
	overflow: hidden;
}

#first_pics{
	float: left;
}

#second_pics{
	float: left;
}

/*---------------------------------------------facts content------------------------------------------------------------*/

aside{
	float:left;
	width: 49.230769%; /* 480px/975px */
	height: 350px;
	overflow: hidden;
	background: #505457;
	border: solid #d0000d;
	border-radius: 10px;
	color: #fff;
	margin-left: 1.025641%; /* 10px/975px */
}

aside h2{
	margin-left: 22.916667%; /* 110px/480px */
	font-size: 1.5em;
	text-shadow: 2px 2px 2px #010101;
}

aside li{
	font-size: 1em;
	padding: 6% 6.25% 0% 6.25%; /* 20px/480px */
}

hr{
	clear: left;
}

/*---------------------------------------------history content------------------------------------------------------------*/

#history h2{
	padding-left: 35.897436%; /* 350px/975px */
	font-size: 1.5em;
}

#history p{
	text-indent: 50px;
	-moz-column-count: 3;
	text-align: justify;
	padding: 0% 2.136752%; /* 20px/936px */
	font-size: 1em;
	width: 96%; /* 936px/975px */
}

/*---------------------------------------------form content------------------------------------------------------------*/

#extra{
	width: 97.5%; /* 975px/1000px */
	height: 500px;
	margin: 1.025641%; /* 10px/975px */
	background: #505457;
	border-radius: 10px;
	border: solid #d0000d;
}

#table{
	float: left;
	padding-left: 5.128205%; /* 50px/975px */
	color: #fff;
	font-size: 1.5em;
}

form{
	border: solid #fff;
	width: 40%;
	float: left;
	margin: 2% 0% 0% 30%;
	padding: 0% 2% 2% 2%;
	color: #fff;
	font-size: 1em;
	background-color: #282828;
}

form h2{
	margin: 0;
	padding-left: 35%;
	font-size: 1.5em;
}

form div{
	padding-left: 1%;
}

/*---------------------------------------------footer content------------------------------------------------------------*/

footer{
	width: 95.8%; /* 934.05px/975px */
	clear: left;
	background: #282828;
	border-radius: 10px;
	border: 2px solid #d0000d;
	margin: 1.070606%; /* 10px/934.05px */
	color: #fff;
	padding-left: 2.141213%; /* 20px/934.05px */
	font-size: 1em;
}

/*---------------------------------------------Media Queries ------------------------------------------------------------*/

	/*Tablet portrait size to standard 960(devices and browsers)*/
	@media screen and (min-width: 768px) and (max-width: 959px){
	body {width: 90%;}
	div article{margin: 2% 0% 0% 20%;}
	div h2{clear: right; float: left; margin-left: 25%;}
	div p{clear: left; margin-left: 20%; width: 55%;}
	.button{margin: 1em 0 1em 37%;}
	#gallery h2{padding-left: 43%;}
	#gallery ul{width: 100%; margin-left: 18%;}
	aside{width: 97%; float: none; margin-left: 0% 0% 1% 1%;}
	aside h2{padding-left: 10%;}

} 

	/*Tablet portrait size to standard 960(devices and browsers)*/
	@media only screen and (min-width: 480px) and (max-width: 767px){
	body {width: 90%;}
	h1{float: none; width:100%; font-size: 1.2em; text}
	nav ul{margin: 0; width: 100%;}
	div article{margin: 2% 0% 0% 20%;}
	div h2{clear: right; float: left; margin-left: 25%; font-size: 1em;}
	div p{clear: left; margin-left: 20%; width: 55%;}
	.button{margin: 1em 0 1em 30%;}
	#gallery h2{margin-left: 20%;}
	#gallery li{margin-left: 50%;}	
	aside{width: 97%; float: none; margin-left: 0% 0% 1% 1%;}
	aside h2{margin-left: 25%;}
	#history p{display: none;}
	#history h2{display: none;}

} 

	/*Tablet portrait size to standard 960(devices and browsers)*/
	@media only screen and (max-width: 479px){
	body {width: 95%;}
	header img{width: 50px; height: 50px;}
	h1{float: none; width:100%; height: 50px; line-height: 50px; font-size: .6em; text overflow: hidden;}
	nav ul{margin: 0; width: 100%;}
	nav a{height: 50px; line-height: 50px;}
	div article{display: none;}
	div h2{font-size: 1em; margin-left: 10%;}
	div p{clear: left; font-size: .8em; margin-left: 5%; width: 85%;}
	.button{font-size: 1em; margin: 1em 0 1em 30%;}
	#gallery h2{font-size: 1em; margin-left: 20%;}
	#gallery li{margin-left: 20%;}
	aside{width: 97%; float: none; margin-left: 0% 0% 1% 1%;}
	aside h2{font-size: 1em; margin-left: 20%;}
	#history p{display: none;}
	#history h2{display: none;}

} 