/*-------------------Colors---------------------*/


/* ------------------------------------------------------ */

body{
	color: ;
	font-size: 14px;
	width: 900px;
	margin: 0 auto;
}

p, ul, nav{
	font-family: 'Sintony', sans-serif;
}

p{
	text-indent: 30px;
}

h1, h2, h3{
	font-family: 'Cinzel Decorative', cursive;
}

h3{
	background: #282828;
	color: #fff;
	overflow: hidden;
	display: block;
	width: 280px;
	float: left;
	height: 30px;
	line-height: 30px;
	padding: 0;
	margin: 0 auto;
	padding-left: 20px;
}

#welcome{
	color: #d93240;
	margin: 0;
	padding: 5px 0 0 585px;
}

/*---------------------------------Nav Elements--------------------------*/

nav ul{
	width: 600px;
	margin: 0 auto;
	background: #666;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}

nav li{
	width: 200px;
	float: left;
}

nav a{
	text-decoration: none;
	background: #282828;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
}

nav a:hover{
	color: #d0000d;
	background: #fff;
}
/*----------------
nav a:visited{
	color: #666;
	background: #fff;
}
*/
nav a:active{
	color: #fff;
	background: #d0000d;
}
/*---------------------------------Main Content Elements--------------------------*/

div{
	border: 3px solid #d93240;
	border-radius: 10px;
	background-color: #505457;
	overflow: hidden;
}

.rb_front{
	float: left;
}

#p1{ 
	float: left;
	color: #fff;
	width: 300px;
	padding-top: 50px;
	padding-left: 20px;
	margin: 0;
	text-align: justify;
}

#gallery{
	clear: left;
}

#gallery ul{
	list-style-type: none;
	width: 550px;
	padding: 5px;
}

#gallery li{
	margin-left: 20px;
	margin-bottom: 15px;
}

#gallery a{
	border: 10px solid #d93240;
	display: block;
	height: 150px;
	width: 200px;
	outline: 0;
}

#first_pics{
	float: left;
}

#second_pics{
	float: left;
}

hr{
	clear: left;
}

aside{
	float:left;
	margin-top: 0;
	width: 315px;
	overflow: hidden;
	padding-left: 90px;
	padding-right: 10px;
}

#history{
	-moz-column-count: 3;
	text-align: justify;
}

#table, #form{
	font-family: 'Cinzel Decorative', cursive;
	font-size: 15px;
}

#extra{
	width: 900px;
	height: 500px;
	background: #505457;
	border-radius: 10px;
	border: 2px solid #d93240;
}

#table{
	float: left;
	padding-left: 20px;
	color: #fff;
}

#form{
	float: left;
	padding-left: 75px;
	color: #fff;
}

footer{
	clear: left;
	background: #282828;
	border-radius: 10px;
	border: 2px solid #d93240;
	margin-top: 20px;
	color: #fff;
}