
p, ul, nav{
	font-family: 'Sintony', sans-serif;
}

h1, h2, h3{
	font-family: 'Cinzel Decorative', cursive;
}

html{
	background: #282828;
}

body{
	width: 1000px;
	margin: 0 auto;
	background: #fff;
	border: solid #d0000d;
	border-radius: 10px;
}

header img{
	width: 100px;
	height: 100px;
	overflow: hidden;
	display: block;
	float: left;
}

h1{
	background: #282828;
	color: #fff;
	overflow: hidden;
	display: block;
	width: 500px;
	float: left;
	height: 65px;
	line-height: 30px;
	margin: 0;
	padding: 35px 0px 0px 20px;
	outline: 0;
}

h1 a:visited{
	color: #fff;
}

nav ul{
	width: 354px;
	margin: 0 auto;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}

nav li{
	background: #282828;
	width: 118px;
	float: left;
}

nav a{
	text-decoration: none;
	display: block;
	height: 100px;
	line-height: 100px;
	text-align: center;
	color: #fff;
}

nav a:hover{
	color: #d0000d;
	background: #fff;
}

nav a:active{
	color: #fff;
	background: #d0000d;
}

div{
	margin: 10px;
	background: #505457;
	color: #fff;
	border: solid #d0000d;
	border-radius: 10px;
	overflow: hidden;
}

div h2{
	float: left;
	padding-left: 30px;
	text-shadow: 2px 2px 2px #010101;
}

div article{
	margin: 20px 0px 20px 20px;
	float: left;
	border: 10px solid #d0000d;

}

div p{
	float: left;
	width: 340px;
	padding: 30px 0px 0px 20px;
	text-indent: 50px;
	text-align: justify;
	margin: 0;
}

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 25px/100% Arial, Helvetica, sans-serif;
	padding: .8em 2em .8em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	margin: 1.3em 0em 0em 4em;
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.red {
	color: #fff;
	border: solid 1px #d0000d;
	background: #d0000d;
	background: -webkit-gradient(linear, left top, left bottom, from(#cd3b45), to(#d0000d));
	background: -moz-linear-gradient(top,  #cd3b45,  #d0000d);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cd3b45', endColorstr='#d0000d');
}
.red:hover {
	background: #d0000d;
	background: -webkit-gradient(linear, left top, left bottom, from(#d0000d), to(#af000b));
	background: -moz-linear-gradient(top,  #d0000d,  #af000b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0000d', endColorstr='#af000b');
}
.red:active {
	color: #666;
	background: -webkit-gradient(linear, left top, left bottom, from(#d0000d), to(#cd3b45));
	background: -moz-linear-gradient(top,  #d0000d,  #cd3b45);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0000d', endColorstr='#cd3b45');
}

#gallery{
	clear: left;
}

#gallery h2{
	padding-left: 190px;
}

#gallery ul{
	list-style-type: none;
	width: 550px;
	padding: 5px;
}

#gallery li{
	margin: 0px 0px 15px 20px;
}

#gallery a{
	border: 10px solid #d0000d;
	display: block;
	height: 150px;
	width: 200px;
	outline: 0;
}

#first_pics{
	float: left;
}

#second_pics{
	float: left;
}

aside{
	float:left;
	margin-top: 0;
	width: 515px;
	overflow: hidden;
}

aside h2{
	padding-left: 125px
}

aside li{
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

hr{
	clear: left;
}

#history h2{
	padding-left: 350px;
}

#history p{
	text-indent: 50px;
	-moz-column-count: 3;
	text-align: justify;
	padding: 0px 20px;
}

#extra{
	width: 980px;
	height: 500px;
	margin: 10px;
	background: #505457;
	border-radius: 10px;
	border-top: solid #d0000d;
	border-bottom: solid #d0000d;
}

#table{
	float: left;
	padding-left: 50px;
	color: #fff;
}

#form{
	float: left;
	padding-left: 575px;
	color: #fff;
}

footer{
	clear: left;
	background: #282828;
	border-radius: 10px;
	border: 2px solid #d0000d;
	margin: 10px;
	color: #fff;
	padding-left: 20px;
}
